*{
    background-color:rgb(238, 182, 190);
}

header img{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.aboutme{
    width: 400px;
    height:180px;
}

ul{
    display:flex;
    align-items: center;
    justify-content: center;
}

li{
    list-style-type: none;
    padding-left: 90px;
    padding-right:90px;
    padding-top: 50px;
    padding-bottom: 40px;
    font-size: 30px;
}

.whoami{
    padding: 30px;
}

.whoami:hover{
    transform: rotate(20deg);
    transition: 2s;
}

.flex{
    display: flex;
    align-items: center;
}

.intro{
    word-wrap: normal;
    font-size: 23px;
    padding-left: 50px;
    padding-right: 100px;
}

.photo{
    width:300px;
    height:300px;
    margin-right: 60px;
    margin-left: 60px;
}

.pwc{
    display: flex;
    padding-top: 110px;
    justify-content: center;
    padding-bottom: 100px;
}

.caption{
    justify-content: center;
    font-size: 23px;
    text-align: center;
}

.cc{
    justify-content: center;
    align-items: center;
}

.photowide{
    width:380px;
    height:300px;
    margin-right: 60px;
    margin-left: 60px;
}

.grid-container{
    display:grid;
    grid-template-columns: 3;
    grid-template-rows: 2;
    grid-template-areas: 
    ".grid-item1 .grid-item2 .grid-item3"
    ".grid-item4 .grid-item4 .grid-item4";
    padding-top: 100px;
    text-align: center;
    font-size: 25px;;
}

.grid-item1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.grid-item2{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.grid-item3{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.grid-item4{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

.photowide2{
    width:420px;
    height:300px;
    margin-right: 30px;
    margin-left: 30px;
    padding-top: 90px;
}

.gallery{
    display:grid;
    grid-template-columns: 5;
    grid-template-rows: 5;
    grid-template-areas: 
    "img3 img3 img6 img6 img6"
    "img3 img3 img6 img6 img6"
    "img3 img3 img4 img7 .";        
    padding-top: 150px;
    grid-row-gap: 5px;
    grid-column-gap: 10px;
    justify-content: center;
}
 
.img3 { 
    grid-area: img3; 
    width:575px;
    height: 865px;
}
.img6 { 
    grid-area: img6;
    width:650px;
    height:450px;
 }
.img4 { 
    grid-area: img4;
    width:290px;
    height:410px;
 }
.img7 { 
    grid-area: img7; 
    width:290px;
    height:410px;
}
.photos{
    height: 350px;
    width:260px;
    padding-left: 40px;
    padding-top: 75px;
}

