*{
    background-color:rgb(238, 182, 190);
}

header img{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height:180px;
}

ul{
    display:flex;
    align-items: center;
    justify-content: center;
}

li{
    list-style-type: none;
    padding-left: 90px;
    padding-right:90px;
    padding-top: 50px;
    padding-bottom: 40px;
    font-size: 30px;
}

.intro{
    word-wrap: normal;
    font-size: 25px;
    padding-left: 120px;
    padding-right: 120px;
}