*{
    background-color:rgb(238, 182, 190);
}

header img{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height:180px;
}

ul{
    display:flex;
    align-items: center;
    justify-content: center;
}

li{
    list-style-type: none;
    padding-left: 90px;
    padding-right:90px;
    padding-top: 50px;
    padding-bottom: 40px;
    font-size: 30px;
}

table{
    text-align: center;
    justify-content: center;
}

th{
    padding:20px;
    font-size: 27px;
}

td{
    padding-top:20px;
    padding-left: 120px;
    padding-right: 80px;
    font-size: 23px;
}

.tbc{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 370px;
    height:150px;
    padding-top: 50px;
}

.flex-g1{
    padding-top: 20px;
    padding-left: 30px;
}

.flex-g2{
    padding-left: 175px;
    padding-right: 30px;
    padding-bottom: 20px;
}

.pichorizontal{
    height: 300px;
    width: 450px;
    padding: 5px;
}

.picvertical{
    height:300px;
    width:200px;
    padding: 5px;
}

.title{
    font-size: 35px;
    text-align: center;
    padding-top: 40px;
}

.container {
    display: flex;
    width: 100%;
    padding: 4% 2%;
    box-sizing: border-box;
    height: 100vh;
  }
  
  .box {
    flex: 1;
    overflow: hidden;
    transition: .5s;
    margin: 0 2%;
    box-shadow: 0 20px 30px rgba(0,0,0,.1);
    line-height: 0;
  }
  
  .box > img {
    width: 200%;
    height: calc(100% - 10vh);
    object-fit: cover; 
    transition: .5s;
  }
  
  .box > span {
    font-size: 3.8vh;
    display: block;
    text-align: center;
    height: 10vh;
    line-height: 2.6;
  }
  
  .box:hover { flex: 1 1 50%; }
  .box:hover > img {
    width: 100%;
    height: 100%;
  }

  .flex-jp1{
    display: flex;
    align-items: center;
}

.flex-jp2{
    display: flex;
    align-items: center;
    padding-left: 175px;
}

.picvertical_jp{
    height:600px;
    width:400px;
    padding: 5px;
}

.blankspace{
    padding-bottom: 30px;
}

.container_4pics{
    display:grid;
    grid-template-columns: 2;
    grid-template-rows: 2;
    grid-template-areas: 
    "item1 item2"
    "item3 item4";
    gap: 3px 3px;
    width: 910px;
    align-items: center;
}

.item1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.item2{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.item3{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.item4{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.pichorizontal_left{
    width: 450px;
    height:300px;
    padding-left: 250px;
}

.pichorizontal_right{
    width: 450px;
    height:300px;
    padding-right: 100px;
}

.container_9pics{
    display:grid;
    grid-template-columns: 3;
    grid-template-rows: 3;
    grid-template-areas: 
    "item11 item12 item13"
    "item14 item15 item16"
    "item17 item18 item19";
    align-items: center;
    justify-content: center;

}

.wide{
    height:350px;
    padding: 5px;
    width:500px;
}

.high{
    height:350px;
    padding: 5px;
    width:225px;
}

.container_korea {
    display: grid; 
    grid-template-columns: repeat(23, 45px);
    grid-template-rows:repeat(13, 92px);
    grid-template-areas: 
      "img1  img1  img1  img1  img1 img1 img1 img2 img2 img2 img2 img2 img2 img2 img3 img3 img3 img3 img3 img3 img3 "
      "img1  img1  img1  img1  img1 img1 img1 img2 img2 img2 img2 img2 img2 img2 img3 img3 img3 img3 img3 img3 img3 "
      "img1  img1  img1  img1  img1 img1 img1 img2 img2 img2 img2 img2 img2 img2 img3 img3 img3 img3 img3 img3 img3 "
      "img8  img8  img8  img8  img8 img8 img8 img5 img5 img5 img5 img5 img7 img7 img7 img7 img7 img12 img12 img12 img12 "
      "img8  img8  img8  img8  img8 img8 img8 img5 img5 img5 img5 img5 img7 img7 img7 img7 img7 img12 img12 img12 img12 "
      "img8  img8  img8  img8  img8 img8 img8 img5 img5 img5 img5 img5 img7 img7 img7 img7 img7 img12 img12 img12 img12 "
      "img6  img6  img6  img6  img6 img6 img6 img6 img6 img6 img6 img6 img4 img4 img4 img4 img4 img9 img9 img9 img9 "
      "img6  img6  img6  img6  img6 img6 img6 img6 img6 img6 img6 img6 img4 img4 img4 img4 img4 img9 img9 img9 img9 "
      "img6  img6  img6  img6  img6 img6 img6 img6 img6 img6 img6 img6 img4 img4 img4 img4 img4 img10 img10 img10 img10 "
      "img6  img6  img6  img6  img6 img6 img6 img6 img6 img6 img6 img6 img4 img4 img4 img4 img4 img10 img10 img10 img10 "
      "img11 img11 img11 img11 img11 img11 img11 img13 img13 img13 img13 img13 img13 img13 img14 img14 img14 img14 img14 img14 img14 "
      "img11 img11 img11 img11 img11 img11 img11 img13 img13 img13 img13 img13 img13 img13 img14 img14 img14 img14 img14 img14 img14 "
      "img11 img11 img11 img11 img11 img11 img11 img13 img13 img13 img13 img13 img13 img13 img14 img14 img14 img14 img14 img14 img14 "; 
      justify-content: center;
      align-items: center;
      gap:5px 5px;
  }

  .img1 { grid-area: img1; }
  .img2 { 
    grid-area: img2; 
    grid-column-start: 8;
    grid-column-end: 15;
    grid-row-start: 1;
    grid-row-end: 4;
    }
  .img3 { grid-area: img3; }
  .img8 { grid-area: img8; }
  .img5 { grid-area: img5; }
  .img12 { grid-area: img12; }
  .img7 { grid-area: img7; }
  .img6 { grid-area: img6; }
  .img4 { grid-area: img4; }
  .img9 { grid-area: img9; }
  .img10 { grid-area: img10; }
  .img11 { grid-area: img11; }
  .img13 { grid-area: img13; }
  .img14 { grid-area: img14; }

  .img1, .img2, .img3, .img8, .img11, .img13, .img14{
    width:315px;
    height:275px;
  }

  .img5{
    width:225px;
    height:276px;
  }

  .img12{
    width:198px;
    height:276px;
  }

  .img6{
    width:540px;
    height:368px;
  }

  .img4{
    width:222px;
    height:368px;
  }

  .img9, .img10{
    width:207px;
    height:185px;
  }

  .img7{
    width:222px;
    height:275px;
  }

